.idea/
__pycache__/

# Hide supporting materials
windows_sim/
data/**/IMG
publishing/
!data/readme.md
run1/
run2/
/videofig.py

# Only track the best model
/**.h5
model_archive/**
!/model.h5
!/model-2.h5
